*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(24, 113, 133);
    
}
form{
    box-shadow: 2px 6px 100px white;
    color: white;
    
}

